
/*公共样式*/
html{font-size:62.5%;font-family:Helvetica;tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:rgba(255,255,255,0);}body,div,header,footer,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,p,table,th,td,em,strong{padding:0;margin:0;border:none;font-style:normal;font-family:'STHeitiSC-Medium';font-weight:normal;}ul,li{list-style:none;}input,button{-webkit-appearance:none;border:none;outline:none}a{color:#000;text-decoration:none;-webkit-touch-callout:none;}a:visited,a:hover{text-decoration:none;}i,em{font-style:normal;}
/*去除scroll滚动条样式*/
::-webkit-scrollbar{width:14px;height:14px}
::-webkit-scrollbar-button:vertical:increment{background:#fff;}
::-webkit-scrollbar-button:horizontal:increment{background:#fff url(/FronWeb/Images/y1204.png) no-repeat 2px 0;width:14px}
::-webkit-scrollbar-button:vertical:decrement{background:#fff url(/FronWeb/Images/s1204.png) no-repeat 1px -2px;height:14px}
::-webkit-scrollbar-button:horizontal:decrement{background:#fff url(/FronWeb/Images/z1204.png) no-repeat 1px 0;width:14px}
::-webkit-scrollbar-track-piece{background-color:#fff}
::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#fff;border:1px solid #fff;border-radius:10px}
::-webkit-scrollbar-thumb:horizontal{height:50px;background-color:#fff;border:1px solid #fff;border-radius:10px}
/*弹出框的样式*/

.box{position:fixed;width:100%;height:100%;background:rgba(0,0,0,.7);display:none;top:0;left:0;z-index:9999;}
.dialog-bd{border-radius:6px;-webkit-background-clip:padding-box;background-clip:padding-box;outline:0;pointer-events:auto;background-color:rgba(253,253,253,.95);position:relative;width:80%;position:fixed;left:10%;top:25%;background:#fff}
.dialog-more{min-height:71px;border-top-left-radius:6px;border-top-right-radius:6px;padding:18px;font-size:1.6rem;display:-webkit-box;display:box;-webkit-box-pack:center;-webkit-box-align:center;-webkit-box-orient:vertical;color:#6D6D6D;}
.ui-dialog-ft{border-bottom-left-radius:6px;border-bottom-right-radius:6px}
.ui-dialog-ft a{height:42px;line-height:42px;background:0 0}
.ui-dialog-ft a:active{background:rgba(0,0,0,.1)}
.ui-dialog-ft a:first-child{border-bottom-left-radius:6px;background-image:none}
.ui-dialog .ui-dialog-ft a:last-child{border-bottom-right-radius:6px}
.ui-btn-group{display:-webkit-box;width:100%}
.ui-btn-group a{color:#6D6D6D;border:none;display:block;line-height:50px;height:48px;-webkit-box-flex:1;text-align:center;font-size:1.3rem;border-right:1px #c8c7cc solid;width:100%;border-top:1px solid #c8c7cc;text-decoration:none;}
.ui-btn-group a:active{background:rgba(0,0,0,.1)}
.ui-btn-group a:last-child{border-right:none;background-image:none;background:#81D8D0;color:#fff;border-bottom-right-radius:6px}
@media screen and (-webkit-min-device-pixel-ratio:2){.ui-btn-group button{position:relative;border:none}
.ui-btn-group a:before{content:"";position:absolute;-webkit-transform-origin:right top;width:0;border-right:1px solid #c8c7cc;right:0;top:0;bottom:0;-webkit-transform:scaleX(.5)}
.ui-btn-group a:after{content:"";position:absolute;-webkit-transform-origin:right top;left:0;right:0;height:0;border-top:1px solid #c8c7cc;top:0;-webkit-transform:scaleY(.5)}
.ui-btn-group a:last-child:before{border-right:none;background-image:none}
}

/*头部header*/
.ui-page-navbar {
    height: 44px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 17px;
    position: relative;
    margin: 0;
    z-index: 20;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ui-page-inner {
    height: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 44px;
}
.ui-page-navbar {
    position: fixed;
    _position: absolute;
    left: 0;
    top: 0;
background: #81D8D0;                                                       
}

.ui-navbar-through {padding-top: 44px; }
.ui-navbar-left {
    position: absolute;
    left: 0px;
}
.ui-navbar-text {
    color:#ffffff;
    font-size: 17px;
    font-weight: 500;
    width: auto;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui-navbar-right {
    position: absolute;
    right: 0px;
}
.ui-operate {width: auto; padding-left: 10px;}
.ui-operate-icon {width: 44px;overflow: hidden;}
.ui-operate a,.ui-operate-icon a {
    line-height: 44px;
    height: 44px;
    text-decoration: none;
    position: relative;
    color:#ffffff;
}
i.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  font-style: normal;
  position: relative;
  top:-2px;
}
i.icon.icon-back {
  width: 12px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'><path d='M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z' fill='%23ffffff'/></svg>");
}
/*头部end*/

/*--------------------------------------------------------专题详情-历史分享样式--------------------------------------------*/
/*--视频样式---*/
.play_video{
	position: relative;
}
	.play_times{
	position: absolute;
	right: 0;
	bottom: 50%;
	color: #fff;
	width:12rem;
	height:4rem;
	line-height:4rem;
	background:#81D8D0;
	border-top-left-radius:3rem;
	border-bottom-left-radius:3rem;
	  opacity: 0.4;
	}
	.play_times img{
			width: 3rem;
			height: 3rem;
		padding: 2px 0 5px 15px;
			vertical-align: middle;
		}
	.play_times span{
			width: 1.6rem;
			padding: 0 1.2rem;
		}
		.play_times i{
			font-style: normal;
			width: 1.4rem;
		}

.hist_details{
	margin: 1rem 1rem 0;
	display: inline-block;
}
/*-----------*/
.hist_detail_r {
	height: 4.5rem;
    width: 4.5rem;
    border-radius: 3.5rem;
    float: left;
    margin-right: 1rem;
    border: 1px solid #81D8D0;
}
.hist_detail_img{
		height: 4.5rem;
    width: 4.5rem;
    border-radius: 3.5rem;
    border: 0;
}
.detail_top{
	color: #A8A8A8;
	font-size: 1.5rem;
}
/*.hist_detail_r  img{
	height: 4.5rem;
    width: 4.5rem;
    border-radius: 3.5rem;
    margin:1.5rem;
    float: left;
    background: #8B8B8B;
}*/
.hist_rule{
	position: absolute;
	right: 10px;
}
.detail_center{
overflow : hidden;
text-overflow: ellipsis;
display:-webkit-box;
-webkit-line-clamp:1;
-webkit-box-orient: vertical;
font-size: 1.3rem;
color: #666666;
margin-top: 1rem;
}
.hist_detail_l{
	float: left;
	width:75%;
}
/*-------*/
.hist_nav{
	display: inline-block;
	padding: 0 1rem;
	width: 93%;
}
.hist_nav li{
	float: left;
	display: inline-block;
	width: 20%;
}
.hist_nav li span{
	display: block;
	text-align: center;
}
.hist_nav li span:first-child{
	color: #81D8D0;
	font-size: 1.1rem;
}
.hist_nav li span:last-child{
	color: #666666;
	font-size: 1.2rem;
}
.hist_nav li span img{
	width: 2.5rem;
	padding:  3px 0;
}
/* 效果CSS开始 */
/*焦点图*/
.focus
{
	position:relative;
	width:94%;
	height:160px;
	background-color:#EEEEEE;
	margin:1rem;
}

.focus img
{
	width:100%;
	height:160px;
}

.focus .shadow .title
{
	width:260px;
	height:65px;
	padding-left:30px;
	padding-top:20px;
}

.focus .shadow .title a
{
	text-decoration:none;
	color:#fff;
	font-size:14px;
	font-weight:bolder;
	overflow:hidden;
	overflow : hidden;
}

.focus .btn
{
	position:absolute;
	bottom:34px;
	left:510px;
	overflow:hidden;
	zoom:1;
}

.focus .btn a
{
	position:relative;
	display:inline;
	width:13px;
	height:13px;
	border-radius:7px;
	color:#B0B0B0;
	font:12px/15px \5B8B\4F53;
	text-decoration:none;
	text-align:center;
	outline:0;
	float:left;
	background:#D9D9D9;
	margin:0 5px;
}

.focus .btn a:hover,.focus .btn a.current
{
	cursor:pointer;
	background:#fc114a;
}

.focus .fPic
{
	position:absolute;
	left:0;
	top:0;
	width: 100%;
}

.focus .D1fBt
{
	overflow:hidden;
	zoom:1;
	height:16px;
	z-index:10;
}

.focus .shadow
{
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	z-index:10;
	height:40px;
	line-height:40px;
	background:rgba(0,0,0,0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000',endColorstr='#80000000')\9;
	display:block;
	text-align:left;
}

.focus .shadow a
{
	width: 80%;
	text-decoration:none;
	color:#fff;
	font-size:1.4rem;
	overflow:hidden;
	margin-left:10px;
	font-family:\5FAE\8F6F\96C5\9ED1;
	/*--超出1行省略--*/
	text-overflow: ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient: vertical;
}

.focus .fcon
{
	position:relative;
	width:100%;
	float:left;
	display:none;
	background:#000;
}

.focus .fcon img
{
	display:block;
	width:100%;
}

.focus .fbg
{
	bottom:8px;
	right:0px;
	position:absolute;
	height:21px;
	text-align:center;
	z-index:200;
}

.focus .fbg div
{
	overflow:hidden;
	zoom:1;
	height:14px;
	margin:4px auto 0;
}

.focus .D1fBt a
{
	position:relative;
	display:inline;
	width:8px;
	height:8px;
	border-radius:7px;
	color:#B0B0B0;
	font:12px/15px \5B8B\4F53;
	text-decoration:none;
	text-align:center;
	outline:0;
	float:left;
	background:#D9D9D9;
	margin:0 3px;
}

.focus .D1fBt .current,.focus .D1fBt a:hover
{
	background:#81D8D0;
}

.focus .D1fBt img
{
	display:none;
}

.focus .D1fBt i
{
	display:none;
	font-style:normal;
}
.focus .prev,.focus .next
{
	position:absolute;
	width:40px;
	height:74px;
	background:url(../images/focus_btn.png) no-repeat;
}
.focus .prev
{
	top:50%;
	margin-top:-37px;
	left:0;
	background-position:0 -74px;
	cursor:pointer;
}
.focus .next
{
	top:50%;
	margin-top:-37px;
	right:0;
	background-position:-40px -74px;
	cursor:pointer;
}
.focus .prev:hover
{
	background-position:0 0;
}
.focus .next:hover
{
	background-position:-40px 0;
}
/*------焦点图样式结束-------*/
.topic_more_img{	
	margin:5px 0 10px;
	/*overflow-x:auto;
	white-space: nowrap;
	overflow-y: hidden;*/
	width: 100%;
	display: inline-block;
}
.topic_more_img li a{
	display:block;
}
.topic_more_img li img{
	width:22%;
	/*height:100px;
	line-height: 100px;*/
	background: #eeeeee;
	border-radius: 5px;
	display:inline-block;
	vertical-align: middle;
	float: left;
	margin: 10px 10px 10px 0;
}
.topic_more_img span img{
	display: block;
	width: 100%;
	border-radius: 5px;
}
/*topic_more*/
.topic_more{
	margin: 5px 0 0 1rem;
}
.topic_more h2{
	font-size: 1.4rem;
	color: #333333;
	margin: 8px 0;
}
.topic_more h2 a{
	color: #999999;
	font-size: 1.2rem;
	padding-left: 1rem;
}
.topic_message{
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
	display: inline-block;
	padding: 5px 1rem;
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	background: #F2F2F2;
	margin:10px 0 45px 0;
}
.topic_message em{
	float: left;
	color: #81D8D0;
	font-size: 1.3rem;
}
.topic_message span{
		overflow : hidden;
		text-overflow: ellipsis;
		display:-webkit-box;
		-webkit-line-clamp:1;
		-webkit-box-orient: vertical;
		font-size: 1.3rem;
		color: #666666;
		float: left;
		width: 80%;
		}
/*----下载app的样式------*/	
.down_app{
	height:40px;
	line-height: 40px;
	color: #FFFFFF;
	font-size: 1.6rem;
	background: #81D8D0;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 200;
}




/*---添加评论的样式---*/
.topic_review{
	margin:  0 1rem;
	vertical-align: middle;
	margin-bottom: 15px;
}
.topic_review span{
	height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #eee;
    border:  1px solid #81D8D0;
    display: inline-block;
    position: relative;
    top: 8px;
}
.review_input{
	display: inline-block;
	background: #F2F2F2;
	width: 60%;
	padding: 5px;
	border-radius: 12px;
}
.review_input input{
	background: #F2F2F2;
	font-size: 1.3rem;
	color: #BBBBBB;
}
.topic_review i{
	padding: 6px;
	border-radius: 15px;
	background: #F2F2F2;
	color: #81D8D0;
	font-size: 1.3rem;
}
/*-------------------------------------------------------历史PK详情---------------------------------------------------------*/

.hist_pk_r {
float: left;
}
.hist_pk_r span{
	height: 4.5rem;
    width: 4.5rem;
    border-radius: 3.5rem;
    background: #8B8B8B;
    margin-right: 1rem;
    border: 1px solid #81D8D0;
    display: block;
    margin-bottom: 5px;
}
.hist_pk_r i{
	padding: 5px;
	border-radius: 4px;
	background: #81D8D0;
	color: #FFFFFF;
	font-size: 1.2rem;
	text-align: center;
	display: inline-block;
	 width: 3rem;
}
.pk_top{
	color: #A8A8A8;
	font-size: 1.5rem;
}
.hist_pk_r  img{
	height: 4.5rem;
    width: 4.5rem;
    border-radius: 3.5rem;
/*    margin:1.5rem;*/
    float: left;
    background: #8B8B8B;
}
.pk_rule{
	position: absolute;
	right: 10px;
}
.pk_center{
overflow : hidden;
text-overflow: ellipsis;
display:-webkit-box;
-webkit-line-clamp:100;
-webkit-box-orient: vertical;
line-height: 1.5rem;
font-size: 1.3rem;
color: #666666;
margin-top: 1rem;
}
.hist_pk_l{
	float: left;
	width:75%;
}

.pk_more_img{	
	margin:5px 0 0px;
	width: 100%;
}
.pk_more_img li{
	width: 25%;
    width: -webkit-calc((100% - 15px*3)/ 4);
    width: calc((100% - 15px*3)/ 4);
	height:65px;
	line-height: 65px;
	background: #eeeeee;
	margin: 0 6px 6px 0;
	display:inline-block;
	vertical-align: middle;
}
.pk_more_img li img{
	display: block;
	width: 100%;
	border-radius: 5px;
}

/*-------------------IP,TA的方案分享----------------------*/
.ip_invite{
	margin: 5px 1rem;
	font-size: 1.3rem;
}

.ip_invite i{
	font-size: 1.4rem;
	position: relative;
	top:-5px
}
.ip_invite span{
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display:inline-block;
	background: #81D8D0;
	color: #FFFFFF;
	border-bottom-left-radius:20px ;
	border-bottom-right-radius:20px ;
	border-top-right-radius:20px ;
	font-size: 1.3rem;
}
/*-----------------------------------------------------专题详情-进行中------------------------------------------------*/

.ing_more_img{	
	margin:5px 0 0px;
	overflow-x:auto;
	white-space: nowrap;
	overflow-y: hidden;
	display: inline-block;
	width: 100%;
}
.ing_more_img li {
	display: inline-block;
}
.ing_more_img li a{
	width: 80px;
    /*width: -webkit-calc((100% - 15px*3)/ 4);
    width: calc((100% - 15px*3)/ 4);*/
	height:80px;
	line-height: 80px;
	background: #eeeeee;
	border-radius: 5px;
	margin-right: 10px;
	display:inline-block;
	vertical-align: middle;
	float: left;
}
.ing_more_img li a img{
	display: block;
	width: 100%;
	border-radius: 5px;
}


/*-----------------------------------【更多】样式------------------------------*/

/*-----------------tab滑屏效果-------------*/
/*
 * Swiper 2.7.0
*/
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
	/* Specify Swiper's Size: */

	/*width:200px;
	height: 100px;*/
}
.swiper-slide {
	/* Specify Slides's Size: */
	
	/*width: 100%;
	height: 100%;*/
}
.swiper-slide-active {
	/* Specific active slide styling: */
	
}
.swiper-slide-visible {
	/* Specific visible slide styling: */	

}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
	/* Stylize pagination button: */	

}
.swiper-active-switch {
	/* Specific active button style: */	
	
}
.swiper-visible-switch {
	/* Specific visible button style: */	
	
}


.swiper-scrollbar {
	border-radius: 10px;
	position: relative;
	-ms-touch-action: none;
	background: rgba(0,0,0,0.1)
}
.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
}
.swiper-scrollbar-cursor-drag {
	cursor: move;
}
.wrap {
	margin: 0 auto;
}

.tabs {
	height: 40px;
	border-bottom: 1px solid #EEEEEE;
}

.tabs a {
	display: block;
	float: left;
	width: 33.33%;
	color: #949494;
	text-align: center;
	background: #FFFFFF;
	line-height: 40px;
	font-size: 1.6rem;
	text-decoration: none;
}
.tabs a.active {
	color: #A1E1DB;
	background: #FFFFFF;
	border-radius: 5px 5px 0px 0px;
}
.swiper-container {
	background: #FFFFFF;
	border-radius: 0 0 5px 5px;
	width: 100%;
	border-top: 0;
}
.swiper-slide {
	height: 325px;
	width: 100%;
	background: none;
}
.content-slide {
/*	padding: 40px;*/
}
.content-slide p {
	text-indent: 2em;
	line-height: 1.9;
}
.content-slide ul{
	/*padding: 1rem;*/
	width: 100%;
}
.content-slide ul li{
	float: left;
	width: 50%;
	display: inline-block;
  width: -webkit-calc( (100% - 2px*1) / 2);
  width: calc( (100% - 2px*1) / 2);
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  height: 200px;
  text-align: center;
  vertical-align: middle;
}
.content-slide ul li:nth-child(2n){
	  border-right:none;
}
.content-slide ul li h4{
	padding: 1rem 0;
}
.content-slide ul li h4 span{
	padding: 1rem 0;
		color: #A1E1DB;
}
.content-slide ul li h4 i{
	color: #333333;
}
.content-slide ul li h4 em{
	color: #999999;
}

.content-slide_img img{
	width: 80px;
	height: 80px;
	border: 1px solid #F5F5F5;
	margin: 0 auto;
/*	position: relative;*/
}
.content-slide_img span{
    /*width: 22px;
    height: 22px;
    display: inline-block;
    right: 13px;
    top: -66px;
    z-index: 5;
    position: relative;*/
}
.content-slide_img span img{
    width: 22px;
    height: 22px;
    display: inline-block;
    right:20px;
    top: -66px;
    z-index: 5;
    position: relative;
    border: 0;
   
}
.content-slide_mon i{
		font-size: 1.4rem;
	/*	padding-right: 5px;*/
	display: inline-block;
	position: relative;
}
.content-slide_mon{
    color: #333;
    font-size: 1.6rem;
    position: relative;
    left: -10px;
    display: inline-block;
    width: 80px;
    text-align: center;
}

.content-slide_mon i{
		 position: relative;
		 left: 6px;
}
.content-slide p{
	text-align: left;
	font-size: 1.2rem;
	color: #333333;
	padding: 0 12px;
	text-indent:0px ;
}





















/*------------------------------------------------------------------------------------------------------------------------*/







/*------------------------------------------------------------------------------------------------------------------------*/






























































